/* ----- GLOBAL SETTINGS ----- */
:root {
    /* Color scheme. */
    --background-color: #181c17;
    --text-color: #f7f8f7;
    --primary-color: #0e8c4d;
    --secondary-color: #222820;
    --accent-color: #202830;

    /* Transitions. */
    --hover-time: 0.2s;

    /* Font sizes. */
    --h1-font-size: 32px;
    --h2-font-size: 28px;

    --subtitle-font-size: 18px;
    --nav-bar-element-font-size: 18px;

    color: var(--text-color);
    background-color: var(--background-color);
}

/* ----- BODY ----- */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    margin: 0% 25% 0% 25%;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

p.subtitle {
    font-size: var(--subtitle-font-size);
}

a.menu-item {
    font-size: var(--nav-bar-element-font-size);
}

/* ----- BUTTONS ----- */

/* Global button styling. */
button {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

/* Primary button specific styling. */
.primary-button {
    cursor: pointer;
    color: inherit;
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    
    font-size: 18px;
    border-radius: 6px;
    padding: 1em 2em 1em 2em;
    
    transform: scale(1);
}

.primary-button:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

/* Secondary button specific styling. */
.secondary-button {
    cursor: pointer;
    color: inherit;
    background-color: var(--secondary-color);
    text-align: center;

    border-radius: 6px;
    padding: 1em 2em 1em 2em;
}

/* ----- NAVIGATION BAR ----- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

nav > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.menu-item {
    color: var(--text-color);
    text-decoration: none;

    transform: scale(1);
    transition-property: transform;
    transition-duration: var(--hover-time);
    transition-timing-function: ease;
    transition-delay: 0s;
}

.menu-item:hover {
    transform: scale(1.2);
}

.hero {
    width: 100%;
}

/* ----- GREETER ----- */
.greeter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10em;
}

.greeter-login {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    
    width: 50%;
    
    padding: 0em 5em 6em 0em;
    margin: 0px;
    gap: 2em;
}

.greeter-signup {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    
    width: 50%;
    
    padding: 0em 5em 6em 0em;
    gap: 2em;
}

/* SPECIFIC GREETERS */
#logged-in {
    display: none;
}

#not-logged-in {
    display: none;
}


/* ----- GENERAL FORMS ----- */
.form {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 2em;
}

.form-entry {
    display: flex;
    flex-direction: column;

}

.form-input {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color);
    
    border-radius: 4px;
    border: 1px solid var(--primary-color);

    padding: 12px;
}

.form-entry-header {
    margin-bottom: 1em;
}

.form-entry-logo {
    background-color: var(--secondary-color);
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 5px;

    border-right: 1px solid var(--primary-color);

    text-align: center;
}

.form-entry input {
    color: var(--text-color);
    background-color: inherit;

    text-align: left;
    border: none;
    outline: none;

    margin: 5px;
}

/* ----- SPECIFIC FORMS ----- */
.form.login-form {
    min-height: 15vh;
    gap: 2em;
}

.profile-settings input,textarea {
    color: var(--text-color);
    background-color: var(--secondary-color);

    text-align: left;
    outline: none;
    
    border-radius: 4px;
    border: 1px solid var(--primary-color);

    padding: 12px;

    max-width: fit-content;
}


/* ----- PROFILE ----- */
.profile {
    width: 100%;
}

.account-info-container {
    display: flex;
    flex-direction: row;
}

.account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.profile-settings {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
}

.account-info-container #avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;

    border-radius: 125px;
}

.account-info-container .avatar-container {
    display: flex;
    flex-direction: column;
}

.avatar-container-settings {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

#avatar-upload {
    color: var(--text-color);
}

#avatar-upload::file-selector-button {
    color: var(--text-color);
    background-color: var(--secondary-color);

    border: none;
    border-radius: 5px;

    padding: 10px;
    cursor: pointer;
}


/* ----- GENERAL MODALS ----- */
.modal {
    position: absolute;
    top: 100px;

    display: flex;
    flex-direction: column;

    background-color: var(--accent-color);
    width: 55vw;
    min-height: 55vh;

    border-radius: 10px;
}

.modal-header {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.modal-header {
    justify-content: space-between;
    min-height: 50px;

    border-bottom: 1px solid var(--primary-color);
}

.modal-header #not-logged-in-modal-close-btn {
    margin: 10px 10px;
}

.modal-header h2 {
    margin-left: 15px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 25px;
}

.modal .close {
    float: right;
    font-size: 28px;
    font-weight: bold;

    text-align: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 8px;
}
  
.modal .close:hover, .close:focus {
    cursor: pointer;
    background-color: var(--primary-color);
}

/* LOGIN MODAL SPECIFIC */
#not-logged-in-modal-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0px 25px 0px 25px;
}

#not-logged-in-modal-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-left: 50px;
    width: 45%;
}

#not-logged-in-modal-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    margin-right: 50px;
    width: 45%;
}


/* Users. */
.users-parent-container {
    display: flex;
    flex-direction: column;

    gap: 2em;
}

.user-container {
    background-color: var(--secondary-color);

    padding: 10px 15px;
    border-radius: 25px;

    display: flex;
    flex-direction: row;

    align-items: center;
    
    gap: 5px;
    cursor: pointer;
}

.user-container:hover {
    background-color: var(--primary-color);
}

.user-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;

    border-radius: 25px;

    margin-right: 25px;
}

.user-container p {
    font-size: var(--subtitle-font-size);
}


/* Public user page. */
.user-info-container {
    line-height: 3;
}

.user-info-container img {
    vertical-align: middle;
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
}

.user-info-container textarea {
    vertical-align: middle;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

/* ----- RESPONSIVENESS ----- */

/* Screens smaller than 1200px in width (phones and scaled windows) */
@media screen and (max-width: 1200px) {
    body {
        margin: 0% 5% 0% 5%;
    }
}

@media screen and (max-width: 800px) {
    .modal-content {
        flex-direction: column;
    }

    #not-logged-in-modal-login {
        width: 100%;
        margin-left: 0px;
    }

    #not-logged-in-modal-signup {
        width: 100%;
        margin-right: 0px;
    }
}